{% extends "./base.html" %}
{% block body %}
{% load static %}

<head>
    <link  rel="stylesheet" href="{% static 'usuarios/css/dashboard.css' %}">
    <link  rel="stylesheet" href="{% static 'usuarios/css/registroUsuario.css' %}">
</head>
<main>
    <div class="recent-orders">
        <h1>Usuarios</h1>
        <div class="principal">
            <div class="registrar">
                <a class="btn-registrar"href="{% url 'signup' %}">Registrar</a>
            </div>
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Buscar Usuario..." oninput="convertToUppercase()">
                <i class="fas fa-search" id="search-icon"></i>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Gmail</th>
                    <th>Rol</th>

                    
                </tr>
            </thead>
            <tbody>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        {% for us in Usuarios %}
                            <tr>
                                <td>{{ us.first_name }}</td>
                                <td>{{ us.last_name }}</td>
                                <td>{{ us.email }}</td>
                                <td>{% if us.is_superuser %} Administrador{% else %} Empleado {% endif %}</td>
                                <td class="elimina"><a href="eliminaruser/{{us.id}}">Eliminar</a></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </tbody>

        </table>
    </div>
</main>
<div class="right" >
    <div class="top">
        <button id="menu-btn"><span class="material-symbols-outlined">menu</span>

        </button>
        <button id="themeToggleBtn" style="display: block;">
            <i id="sunIcon" class="fas fa-sun"></i>
            <i id="moonIcon" class="fas fa-moon"></i>
        </button>
        <div class="profile">
            {% if request.user.is_authenticated %}
                <div class="info">
                    <p>hey, <b>{{ user.username}}</b></p>
                    {% if request.user.is_superuser %}
                    <small class="text-muted">Admin</small>
                    {% else %}
                    <small class="text-muted">Empleado</small>
                    {% endif %}
                
                </div>
                <div class="profile-photo">
                    {% if request.user.is_superuser %}
                        <i class="fa-solid fa-user-tie"></i>
                    {% else %}
                        <i class="fa-solid fa-user"></i>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="recent-updates">
        <h2>Mensajes Recientes</h2>
        <div class="updates">
            {% if request.user.is_superuser %}
                {% if Mensajes %}
                {% if respuestascomentarios %}
                    <p>respuestascomentarios </p>
                {% else %}
                    {% for me in Mensajes %}
                    {% if me.respuestascomentarios %}
                        <p><b>{{ me.username }}: </b> {{ me.comentario }}</p>
                        <p>Mensaje contestado</p>
                    {% else %}
                        <div class="update">
                            <div class="profile-photo">
                                <img src="{% static 'usuarios/img/1.png' %}" alt="">
                            </div>
                            <div class="message">
                                <p><b>{{ me.username }}: </b> {{ me.comentario }}</p>
                                <small class="text-muted">{{ me.tiempo_creacion }}</small>
                            </div> 
                        </div>
                    {% endif %}
                    {% endfor %}
                {% endif %}
                {% else %}
                    <p>No hay mensajes disponibles en este momento.</p>
                {% endif %}
            {% else %}
                {% if Mensajes %}
                        {% for me in Mensajes %}
                            {% if me.respuestascomentarios %}
                                {% if me.username == request.user.username %}
                                    <div class="update ">
                                        <div class="profile-photo">
                                            <img src="{% static 'usuarios/img/1.png' %}" alt="">
                                        </div>
                                        <div class="message">
                                            <b>Comentario:</b>
                                            <p>{{me.comentario}}</p>
                                            <b>Respuesta del Admin: </b>
                                            <p> {{ me.respuestascomentarios }}</p>
                                            <small class="text-muted">{{ me.tiempo_creacion }}</small>
                                        </div> 
                                    </div>
                                {% endif %}
                            {% else %}
                                {% if me.username == request.user.username %}
                                    <div class="update">
                                        <div class="profile-photo">
                                            <img src="{% static 'usuarios/img/1.png' %}" alt="">
                                        </div>
                                        <div class="message">
                                            <b>Comentario:</b>
                                            <p>{{me.comentario}}</p>
                                            <p>Sin respuesta</p>
                                        </div> 
                                    </div>
                                {% endif %}
                            {% endif%}
                        {% endfor%}
                {% else %}
                    <p>No has comentado por el momento</p>
                {% endif %}
            {% endif %}
            
        </div>
        <div class="sales-analyticss">
            <div class="item add-products">
                <div>
                    <span class="material-symbols-outlined">add</span> 
                    <a href="{% url 'soporte' %}">Mostrar Todas</a>
                </div>
            </div>
        </div>
        
        <script>
            var closeBtns = document.querySelectorAll('.close-btnn');
            closeBtns.forEach(function (closeBtn) {
                closeBtn.addEventListener('click', function () {
                    closeBtn.style.display = 'none';
                });
            });
        </script>
    </div>
</div>
{% endblock %}